.header {
    background-color: slategray;
    color: #C9EEF7;
    height: 60px;
    margin: 0;
    padding: auto;
    text-align: center;
    position: sticky;
    top: 0;
}
.header-text {
    font-family: "Algerian";
    font-size: 45px;
    display: inline-block;
}
.header-text:hover{
    color: #EBFAFF;
    transition: all .5s ease;
}
.button {
    width: 40px;
    height: 250px;
    outline: none;
    border: 3px solid black;
    border-radius: 0 20px 20px 0;
    font-family: "Lucida Sans Unicode";
    background-color: #EBFAFF;
}
.button:hover {
    background-color: #C9EEF7;
    box-shadow: 0 0 2px black;
    transition: all .5s ease;
}

.flexbox {
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 250px;
    width: 450px;
    background-color: rgba(0,0,0, .2);
    justify-content: center;
}
.backgroundFlexBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: lightcyan;
    height: 100vh;
    min-height: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../../pictures/color-strips-linii-background-fon.jpg");
}

.style-1::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
    background-color: #CCCCCC;
}

.style-1::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar-thumb
{
    background-color: #C9EEF7;
    border: 1px solid black;
}