.people {
    height: 230px;
    width: 420px;
    margin: 10px 5px;
    padding: auto;
    background-color: ghostwhite;
    border-radius: 5px;
    color: #FF867D;
    box-shadow: 0 0 3px black;
    transition: all .5s ease;
    display: inline-block;
    font-family: "Microsoft PhagsPa";
    font-weight: bold;
    font-size: 14px;
}
.header-licence {
    height: 30px;
    background-color: #CCCCCC;
    text-align: right;
    padding: 0 10px;
    border-radius: 3px 3px 0 0;
    font-size: 20px;
    color: black;
}

.licence-general-information-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.licence-information {
    height: 160px;
    width: 280px;
    margin: 20px;
    background-color: seagreen;
    color: black;
}

.licence-image {
    height: 130px;
    width: 100px;
    margin: 30px 0 30px 15px;
    background-image: url("../../pictures/user.png");
    background-size: 100px;
    background-repeat: no-repeat;
    border-radius: 3px;
    /* Временно */
    position: relative;
    top: 15px;
}