.people {
    height: 100px;
    width: 200px;
    margin: 5px;
    background-color: slategray;
    border-radius: 5px;
    color: lightgreen;
    box-shadow: 5px 5px lightgreen;
    transition: all .5s ease;
    display: inline-block;
    font-family: "Microsoft PhagsPa";
    font-weight: bold;
    flex-direction: column;
}