.people {
    margin: 5px 0 ;
    background-color: slategray;
    border-radius: 5px;
    color: lightgreen;
    width: 170px;
    text-align: center;
    box-shadow: 5px 5px lightgreen;
    transition: all .5s ease;
    display: inline-block;
}