.people {
    height: 380px;
    width: 415px;
    margin: 10px 5px;
    padding: auto;
    background-color: slategray;
    border-radius: 5px;
    color: #FF867D;
    box-shadow: 0 0 3px black;
    transition: all .5s ease;
    display: inline-block;
    font-family: "Microsoft PhagsPa";
    font-weight: bold;
    font-size: 20px;
}
.geoposition {

}
.age {

}